* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
  }

  a{
      text-decoration: none;
  }

  .header-line
  {
    height: 70px;   /* height is for those pages, which don't have navbar */
    width: 100%;
    margin: 0px -10px 0px 0px;
    background: #5A0808;
    border: 1px solid #707070;
  }

  .game-beggining, .game-end
  {
    width: 90%;
  }

  
  .mine-border
  {
      border: 1px solid #707070;
  }

  /* Text Design */
  .upcoming-game-text
  {
    font-size: larger;
  }

  .dashboard-text
  {
    color: #707070;
  }

  .card-header
  {
    color: #707070;
  }

  .card-text
  {
    color: #707070;
    font-size: small;
  }

  .player-name
  {
    font-size: x-small;
  }

  /* Navbar */
  .nav-bg {
    background: #5A0808;
    border: 1px solid #707070;
    /* -webkit-box-shadow: 0 0.3rem 1rem #15aa22;
            box-shadow: 0 0.3rem 1rem #15aa22; */
  }
  
  .nav-link   /* for links with in nav bar */
  {
    color: #FFFFFF;   /* nav-link */
  }
  
  .navbar {
    -webkit-transition: all .3s;
    transition: all .3s;
    
    text-align: center;
    
    /* navbar background color */
    border-color:#5A0808;
    /* color: white;  */
    line-height:34px; /* Height of navbar */
  }
  
  .nav-link:hover {
    /* color: #15aa22; */
    /* color:#000000; */
    color:#FFFFFF; 
    background-color:#5A0808;
    
    /* border-bottom: 2px solid white;  */
    font-style: italic;
    
  }
  
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar .navbar-toggler {
    margin-right: 2rem;
    border-color: white;
  }

  .nav-link {
    text-align: center;
    display: inline-block;
    font-size:18px;
    color: #FFFFFF;
    padding: 0.8rem 10rem 0.2rem;      /* 0.3 rem is padding of bar under nav-link */
    margin: 0 1rem;         /* margin b/w nav-items */
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .navbar-nav .active {
    border-bottom: 2px solid white; 
    color: white;
    font-weight: bold;
    border-color:#FFFFFF;
  }
  
  #collapsibleNavbar {
    text-align: center;
  
    margin-right: 15px;
  }
  
  /* User Game Menu */

  .game-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .game-menu-item {
    float: left;
  }
  
  .game-menu-item a {
    display: block;
    padding: 8px;
    color: #707070;
  }
  
  .game-menu-item a:hover{
    text-decoration: none;
    font-style: italic;
  }

  .game-menu .active {
    font-weight: bold;
  }

  /* Welcome.html */
  #welcome-text
  {
    text-align: center;
    color: #000000;
  }

  /* Login Form */
  .login-form
  {
    margin: 20%;
  }


  /* Alignment */
  text-right{text-align:left!important}

  /* image style */

  .games-icons
  {
    width: 100px;
    height: 100px;
    margin-right: 5%;
  }

  .games-icons2
  {
    width: 90px;
    height: 90px;
    margin-right: 5%;
  }
  
  .player-pic
  {
    width: 20px;
    height: 20px;
  }
  
  .player-pic2
  {
    margin-right: 1px;
    width: 50%;
    height: 30%;
  }
  
  .player-pic3
  {
    margin-right: 1px;
    width: 15px;
    height: 15px;
  }
  
  .referee-pic
  {
    margin-right: 1px;
    width: 25px;
    height: 25px;
  }

  .upcoming-game-img
  {
    height: 30px;
    width: 30px;
  }
  
  .field-img
  {
    width:100%;
  }
  .avatarCorners {
    border:1px solid black;
    border-radius: 110px;
    padding: 5px;
    width: 150px;
    height: 150px;
  }

  #uploaded-img
  {
    width:90%;
  }

  #register-uploaded-img
  {
    width:150px;
  }
  /* btn-style */

  .btn-link
  {
    color: #000000;
  }

  .btn-link:hover
  {
    text-decoration: none;;
    color: #000000;
  }

  .badge-link border
  {
    border: 1px solid ;
  }

  .btn-black
  {
    background: #000000;
    border: 1px solid #707070;
    color: #FFFFFF;
    padding: 5px 10px 5px;
  }

  .btn-register
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
  }

  .btn-edit
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
  }

  .btn-register-style
  {
    width: 30%;
    color: white;
    margin-left: 80%;
    font-size: larger;
    font-weight: bold;
    border-radius: 4px;
  }

  .btn-edit-style
  {
    width: 140px;
    color: white;
    margin: auto;
    font-weight: bold;
    border-radius: 4px;
  }

  .btn-height
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

  .btnHeight1 {height: 90%;}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="btnHeight1"] {
    height: 0%;
  }
}

.btn-height-referee
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.btnHeight-referee1 {height: 30%;}

@media only screen and (max-width: 1000px) {
/* For mobile phones: */
[class*="btnHeight-referee1"] {
  height: 0%;
}
}
  .btn-add
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
    float: inherit;
  }

  .welcome-btn
  {
    width: 133px;
    height: 42px;
    font-size: larger;
  }

  .btn-login, .btn-welcome-login
  {
    margin-left: 5%;
  }

  .btn-welcome-register
  {
    margin-right: 5%;
  }

  .upcoming-game-btn
  {
    font-size: larger;
    color: #000000;
  }

  .upcoming-game-btn:hover
  {
    text-decoration: none;
    color: #000000;
  }

  .user-btn
  {
    font-size: larger;
    color: #000000;
  }

  .more-btn, .more-btn:hover
  {
    text-decoration: none;
    color: #707070;
  }

  .account-btn
  {
    background-color: #EEEFFF;
    color: #000000;
    width: 200px;
    font-size: larger;
    font-weight: bold;
  }

  .upload-img-btn
  {
    cursor: pointer;
    width: 100px;
    text-align: center;
  }

  /* Media Queries */

  /* For desktop: */
.column1 {width: 8.33%;}
.column2 {width: 16.66%;}
.column3 {width: 25%;}
.column4 {width: 33.33%;}
.column5 {width: 41.66%;}
.column6 {width: 50%;}
.column7 {width: 58.33%;}
.column8 {width: 66.66%;}
.column9 {width: 75%;}
.column10 {width: 83.33%;}
.column11 {width: 91.66%;}
.column12 {width: 100%;}

@media only screen and (max-width: 70px) {
  /* For mobile phones: */
  [class*="column"] {
    width: 100%;
  }
}

/* Game Field */
.field-container {
  position: relative;
  text-align: center;
  color: white;
}

.team1-keeper {
  position: absolute;
  top: 45%;
  right: 4%;
}

.team1-centered1 {
  position: absolute;
  top: 25%;
  left: 40%;
}

.team1-centered2 {
  position: absolute;
  top: 45%;
  left: 40%;
}

.team1-centered3 {
  position: absolute;
  top: 75%;
  left: 40%;
}

.team1-left1 {
  position: absolute;
  top: 10%;
  left: 30%;
}

.team1-left2 {
  position: absolute;
  top: 35%;
  left: 30%;
}

.team1-left3 {
  position: absolute;
  top: 60%;
  left: 30%;
}

.team1-left4 {
  position: absolute;
  top: 80%;
  left: 30%;
}

.team1-leftMost1 {
  position: absolute;
  top: 20%;
  left: 17%;
}

.team1-leftMost2 {
  position: absolute;
  top: 44%;
  left: 20%;
}

.team1-leftMost3 {
  position: absolute;
  bottom: 20%;
  left: 17%;
}

.team2-keeper {
  position: absolute;
  top: 45%;
  left: 4%;
}

.team2-rightMost1 {
  position: absolute;
  top: 20%;
  right: 17%;
}

.team2-rightMost2 {
  position: absolute;
  top: 44%;
  right: 20%;
}

.team2-rightMost3 {
  position: absolute;
  bottom: 20%;
  right: 17%;
}

.team2-right1 {
  position: absolute;
  top: 10%;
  left: 65%;
}

.team2-right2 {
  position: absolute;
  top: 35%;
  left: 65%;
}

.team2-right3 {
  position: absolute;
  top: 60%;
  left: 65%;
}

.team2-right4 {
  position: absolute;
  top: 80%;
  left: 65%;
}

.team2-centered1 {
  
  position: absolute;
  top: 25%;
  right: 40%;
}

.team2-centered2 {

  position: absolute;
  top: 45%;
  right: 40%;
}

.team2-centered3 {

  position: absolute;
  top: 75%;
  right: 40%;
}

/* div styling */
.div-active
{
  height: 150px;
}

.sibstitutes
{
  border: 1px solid #707070;
  line-height: 40px;
  border-radius: 3%;
}

.team-player
{
  border: 1px solid #707070;
  line-height: 35px;
  border-radius: 3%;
}

.referee
{
  border: 1px solid #707070;
  line-height: 35px;
  border-radius: 3%;
}

.active-player
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 6px;
  background-color: #F90D0D;
  border: 1px solid #000000;
}

.non-active-player
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 6px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.upload-img-field
{
  width: 200px;
}

.upload-img-referee
{
  width: 250px;
}

/* Dropdown with image */

#referee-image-dropdown {
  display: inline-block;
  border: 1px solid;
}
#referee-image-dropdown {
  height: 35px;
  overflow: hidden;
}

#referee-image-dropdown .img_holder {
  cursor: pointer;
  margin-bottom: 4px;
  height: 25px;
}
#referee-image-dropdown img.flagimgs {
  height: 25px;
}
#referee-image-dropdown span.iTEXT {
  position: relative;
}
