* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
  }

  .score-input {
    text-align: center;
    border: none;
  }
  
  a{
      text-decoration: none;
  }

  /* for Those pages, which dont have navbar */
  .header-line
  {
    height: 70px;   /* height is for those pages, which don't have navbar */
    width: 100%;
    margin: 0px -10px 0px 0px;
    background: #5A0808;
    border: 1px solid #707070;
  }

  .game-beggining, .game-end
  {
    width: 90%;
  }

    /* border */
  .mine-border
  {
      border: 1px solid #707070;
  }

  /* Text */
  .upcoming-game-text
  {
    font-size: larger;
  }

  .dashboard-text
  {
    color: #707070;
  }

  .card-header
  {
    color: #707070;
  }

  .card-text
  {
    color: #707070;
    font-size: small;
  }

  .player-name, .team-name
  {
    font-size: x-small;
  }

  .success
  {
    font-size: 60px;
  }

  .h1, h2, h3, h4, h5, h6, label
  {
    color: #000000;
  }

  .vs {
    text-align: center;
  }

  /* Navbar */
  .nav-bg {
    background: #5A0808;
    border: 1px solid #707070;
    /* -webkit-box-shadow: 0 0.3rem 1rem #15aa22;
            box-shadow: 0 0.3rem 1rem #15aa22; */
  }
  
  .nav-link   /* for links with in nav bar */
  {
    color: #FFFFFF;   /* nav-link */
  }
  
  .navbar {
    -webkit-transition: all .3s;
    transition: all .3s;
    
    text-align: center;
    
    /* navbar background color */
    border-color:#5A0808;
    /* color: white;  */
    line-height:34px; /* Height of navbar */
  }
  
  .nav-link:hover {
    /* color: #15aa22; */
    /* color:#000000; */
    color:#FFFFFF; 
    background-color:#5A0808;
    
    /* border-bottom: 2px solid white;  */
    font-style: italic;
    
  }
  
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  /* outline of navbar-toggler */ 
  .navbar .navbar-toggler {
    margin-right: 2rem;
    border-color: white;
  }

  .nav-link {
    text-align: center;
    display: inline-block;
    font-size:18px;
    color: #FFFFFF;
    padding: 0.8rem 10rem 0.2rem;      /* 0.3 rem is padding of bar under nav-link */
    margin: 0 1rem;         /* margin b/w nav-items */
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .navbar-nav .active {
    border-bottom: 2px solid white; 
    color: white;
    font-weight: bold;
    border-color:#FFFFFF;
  }
  
  #collapsibleNavbar {
    text-align: center;
  
    margin-right: 15px;
  }
  
  
/* SIDEBAR CSS STARTS */
#wrapper {
  overflow-x: hidden;
}

.list-group a{
  color: #000000;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -200px;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  border-right: 1px solid #707070;
}

#sidebar-wrapper .list-group {
  width: 200px; 
  border: 1px solid #707070;
}

  
#wrapper .active {
  background-color: #F2B3B3;
  border: 1px solid #707070;
  color: #000000;
}

#page-content-wrapper {
  min-width: 100vw;
  
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -200px;
  }

  #menu-toggle {
    display: none;
  }
}

.list-group-item {
  border: 1px solid #707070;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  margin-right: 2rem;
  border-color: white;
}

/* SIDEBAR CSS ENDS */


  /* User Game Menu */

  .game-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .game-menu-item {
    float: left;
  }
  
  .game-menu-item a {
    display: block;
    padding: 8px;
    color: #707070;
  }
  
  .game-menu-item a:hover{
    text-decoration: none;
    font-style: italic;
  }

  .game-menu .active {
    font-weight: bold;
  }

  /* Welcome.html */
  #welcome-text
  {
    text-align: center;
    color: #000000;
  }

  /* Login Form */
  .login-form
  {
    margin: 20%;
  }


  /* Alignment */
  text-right{text-align:left!important}

  /* images style */

  .games-icons
  {
    width: 100px;
    height: 100px;
    margin-right: 5%;
  }

  .games-icons2
  {
    width: 90px;
    height: 90px;
    margin-right: 5%;
  }
  
  .player-pic
  {
    width: 20px;
    height: 20px;
  }
  
  .player-pic2
  {
    margin-right: 1px;
    width: 50%;
    height: 30%;
  }
  
  .player-pic3
  {
    margin-right: 1px;
    width: 30px;
    height: 30px;
  }
  
  .referee-pic
  {
    margin-right: 1px;
    width: 25px;
    height: 25px;
  }
  
  .team-logo
  {
    margin-right: 1px;
    margin-top: 1px;
    width: 25px;
    height: 25px;
  }

  .upcoming-game-img
  {
    height: 30px;
    width: 30px;
  }
  
  .field-img, .screen-img
  {
    width:100%;
    /* height: 280px; */
    /* height: 440px; */
  }

  .avatarCorners {
    border:1px solid black;
    border-radius: 110px;
    padding: 5px;
    width: 150px;
    height: 150px;
  }

  #uploaded-img
  {
    width:90%;
  }

  #register-uploaded-img
  {
    width:150px;
  }

  /* btn-style */

  .btn-link
  {
    color: #000000;
  }

  .btn-link:hover
  {
    text-decoration: none;
    color: #000000;
  }

  .badge-link border
  {
    border: 1px solid ;
  }

  .btn-black
  {
    background: #000000;
    border: 1px solid #707070;
    color: #FFFFFF;
    padding: 5px 10px 5px;
  }

  .btn-register
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
  }

  .btn-register
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
  }

  .btn-run-game-end-start
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45%;
  }

  @media only screen and (max-width: 1250px) {
    /* For mobile phones: */
    [class*="btn-run-game-end-start"] {
      height: 15%;
    }
  }
  
  .run-game-end, .run-game-start
  {
    font-size: x-large;
  }

  .btn-edit
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60%;
  }

  .btn-register-style
  {
    width: 30%;
    color: white;
    margin-left: 80%;
    font-size: larger;
    font-weight: bold;
    border-radius: 4px;
  }

  .btn-edit-style
  {
    width: 140px;
    color: white;
    margin: auto;
    font-weight: bold;
    border-radius: 4px;
  }

  .btn-height
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }

  .btnHeight1 {height: 90%;}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="btnHeight1"] {
    height: 0%;
  }
}

.btn-referee
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -120px;
}

/* .btnHeight-referee {height: 0%;}

@media only screen and (max-width: 1000px) {
[class*="btnHeight-referee"] {
  height: 0%;
}
} */

  .btn-add
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
    float: inherit;
  }

  .welcome-btn
  {
    width: 133px;
    height: 42px;
    font-size: larger;
    text-align: center;
  }

  .welcome-btn:hover
  {
    text-decoration: none;
    color: #FFFFFF;
  }

  .btn-login, .btn-welcome-login
  {
    margin-left: 5%;
  }

  .btn-welcome-register
  {
    margin-right: 5%;
  }

  .upcoming-game-btn
  {
    font-size: larger;
    color: #000000;
  }

  .upcoming-game-btn:hover
  {
    text-decoration: none;
    color: #000000;
  }

  .user-btn
  {
    font-size: larger;
    color: #000000;
  }

  .more-btn, .more-btn:hover
  {
    text-decoration: none;
    color: #707070;
  }

  .account-btn
  {
    background-color: #EEEFFF;
    color: #000000;
    width: 200px;
    font-size: larger;
    font-weight: bold;
  }

  .upload-img-btn
  {
    cursor: pointer;
    width: 100px;
    text-align: center;
  }

/* Game Field */
.field-container {
  position: relative;
  text-align: center;
  color: white;
}

.team1-keeper {
  position: absolute;
  top: 45%;
  right: 4%;
}

.team1-centered1 {
  position: absolute;
  top: 25%;
  left: 40%;
}

.team1-centered2 {
  position: absolute;
  top: 45%;
  left: 40%;
}

.team1-centered3 {
  position: absolute;
  top: 85%;
  left: 40%;
}

.team1-left1 {
  position: absolute;
  top: 10%;
  left: 30%;
}

.team1-left2 {
  position: absolute;
  top: 35%;
  left: 30%;
}

.team1-left3 {
  position: absolute;
  top: 60%;
  left: 30%;
}

.team1-left4 {
  position: absolute;
  top: 80%;
  left: 30%;
}

.team1-leftMost1 {
  position: absolute;
  top: 20%;
  left: 17%;
}

.team1-leftMost2 {
  position: absolute;
  top: 44%;
  left: 20%;
}

.team1-leftMost3 {
  position: absolute;
  bottom: 20%;
  left: 17%;
}

.team2-keeper {
  position: absolute;
  top: 45%;
  left: 4%;
}

.team2-rightMost1 {
  position: absolute;
  top: 20%;
  right: 17%;
}

.team2-rightMost2 {
  position: absolute;
  top: 44%;
  right: 20%;
}

.team2-rightMost3 {
  position: absolute;
  bottom: 20%;
  right: 17%;
}

.team2-right1 {
  position: absolute;
  top: 10%;
  left: 65%;
}

.team2-right2 {
  position: absolute;
  top: 35%;
  left: 65%;
}

.team2-right3 {
  position: absolute;
  top: 60%;
  left: 65%;
}

.team2-right4 {
  position: absolute;
  top: 80%;
  left: 65%;
}

.team2-centered1 {
  
  position: absolute;
  top: 25%;
  right: 40%;
}

.team2-centered2 {

  position: absolute;
  top: 45%;
  right: 40%;
}

.team2-centered3 {

  position: absolute;
  top: 85%;
  right: 40%;
}

/* //////// Run Game info //////////// */


  .screen-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .goal-home, .goal-guest, .goal-player
  {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .goal-home-logo, .goal-guest-logo, .goal-player-logo
  {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-110%, -50%);
  }

  .goal-home-player, .goal-guest-player, .goal-player-player
  {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(75%, -50%);
  }

  .goal-minutes
  {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-140%, -50%);
  }

  .goal-home-name, .goal-guest-name, .goal-player-name
  {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-220%, -50%);
  }

  #goal-home-name, #goal-guest-name, #goal-player-name
  {
    font-size: xx-large;
  }

  #goal-home-logo, #goal-guest-logo, #goal-player-logo
  {
    width: 30%;
  }

  #goal-home-player, #goal-guest-player, #goal-player-player
  {
    width: 35%;
  }

  .black-bar
  {
    position: absolute;
    top: 5%;
    right: 0%;
  }

  #black-bar
  {
    width: 250px;
    height: 60px;
  }

  .home-highlights-logo, .guest-highlights-logo
  {
    position: absolute;
    top: 6%;
    right: 37%;
  }

  #home-highlights-logo, #guest-highlights-logo
  {
    width: 40px;
  }
  
  .home-highlight-text, .home-corner-text, .home-offside-text, .home-free_kick-text, .home-penalty-text,
  .guest-highlight-text, .guest-corner-text, .guest-offside-text, .guest-free_kick-text, .guest-penalty-text 
  {
    position: absolute;
    top: 6%;
    right: 1%;
  }
  

  .home-team-name, .guest-team-name
  {
    position: absolute;
    top: 14%;
    right: 1%;
  }

   /* for small btn on screen board  */
  .small-container {
    position: absolute;
    top: 5%;
    left: 2%;
  }

  .small-bar-pic
  {
    height: 25px;
    width: 260px;
  }

  #small-left-color-bar, #small-right-color-bar
  {
    height: 25px;
    width: 15px;
  }

  .small-left-color-bar
  {
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .teams-names-goals
  {
    position: absolute;
    top: 0%;
    left: 13%;
    padding-left: 2px;
    width: 95px;
  }

  #teams-names-goals
  {
    width: 140px;
  }

  .small-right-color-bar
  {
    position: absolute;
    top: 0%;
    right: 26%;
  }

  .small-bar-logo
  {
    position: absolute;
    top: 0%;
    left: 6%;
  }

  /* .small-bar-team-name-1
  {
    position: absolute;
    top: 0%;
    left: 11%;
    border-left: 5px solid white;
    padding-left: 2px;
    width: 100px;
  }

  .small-bar-team-name-2
  {
    position: absolute;
    top: 0%;
    right: 24%;
    border-right: 5px solid white;
    padding-right: 2px;
    width: 100px;
  } */

  .score-on-board-small {
    position: absolute;
    top: -15%;
    left: 33%;
  }

  #score-on-board-small {
    color: #000000;
    padding-left: 2px;
    padding-right: 2px;
    font-size: x-large;
    font-weight: bold;
  }

  .clock-small
  {
    position: absolute;
    top: -2%;
    right: -6%;
    /* border: 5px solid white; */
    margin-top: -4px;
    padding-right: 2px;
    width: 100px;
    font-size: x-large;
  }

  /* for guest team, for home team, player (info group) */

  .guest-card-bg, .home-card-bg, .player-card-bg
  {
    position: absolute;
    top: 5%;
    right: 20%;
    left: 15%;
    right: 15%;
    margin-bottom: 5%;
  }
  
  #guest-card-bg, #home-card-bg, #player-card-bg
  {
    width: 90%;
  }

  .guest-team-logo, .home-team-logo
  {
    position: absolute;
    top: 20%;
    right: 15%;
  }

  #guest-team-logo, #home-team-logo
  {
    width: 50%;
  }

  .guest-team-header, .home-team-header, .player-header
  {
    position: absolute;
    top: 5%;
    right: 42%;
  }

  .guest-team-some-text_1, .home-team-some-text_1
  {
    position: absolute;
    top: 18%;
    left: 21%;
  }

  .guest-team-some-text_2, .home-team-some-text_2
  {
    position: absolute;
    top: 30%;
    left: 21%;
  }

  .guest-team-some-text_3, .home-team-some-text_3
  {
    position: absolute;
    top: 60%;
    left: 21%;
  }

  .guest-small-logo-bw-card, .home-small-logo-bw-card, .player-small-logo-bw-card, .coach-small-logo-bw-card
  {
    position: absolute;
    top: 75%;
    right: 45%;
  }

  #guest-small-logo-bw-card, #home-small-logo-bw-card, #player-small-logo-bw-card, #coach-small-logo-bw-card
  {
    width: 70%;
  }

  /* For Player */
  .player-some-text_1
  {
    position: absolute;
    top: 22%;
    right: 37%;
  }

  .player-pic-info-group
  {
    position: absolute;
    top: 20%;
    left: 17%;
  }

  #player-pic-info-group
  {
    width: 50%;
  }

  /* crew */
  
  .crew-card
  {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .crew-header
  {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .crew-name
  {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }


  /* For small btn */

  #small-bar-logo
  {
    height: 25px;
    width: 18px;
  }
  
.run-game-info-bars
{
  width: 70%;
  height: 80%;
}
  
.team-logo-on-board
{
  width: 40px;
  height: 40px;
}

/* for coach */

.coach-pic-info-group
{
  position: absolute;
  top: 62%;
  left: 30%;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class="coach-pic-info-group"] {
    left: 35%;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class="coach-pic-info-group"] {
    left: 18%;
  }
}

#coach-pic-info-group
{
  width: 40px;
}

.coach-card
{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coach-header
{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coach-name
{
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

/* Stats */

.stats-card-bg
{
  position: absolute;
  top: 5%;
  right: 20%;
  left: 20%;
  right: 12%;
  margin-bottom: 5%;
}
 
#stats-card-bg
{
  width: 90%;
}

.stats-header
{
  position: absolute;
  top: 5%;
  right: 43%;
}

.stats-team-name-1
{
  position: absolute;
  top: 18%;
  right: 23%;
}

.stats-team-name-2
{
  position: absolute;
  top: 18%;
  left: 24%;
}

.stats-team-logo-1
{
  position: absolute;
  top: 28%;
  right: 23%;
}

.stats-team-logo-2
{
  position: absolute;
  top: 28%;
  left: 24%;
}

#stats-team-logo-1
{
  width: 50px;
}

#stats-team-logo-2
{
  width: 50px;
}

.stats-team-text-1
{
  position: absolute;
  top: 58%;
  right: 23%;
}

.stats-team-text-2
{
  position: absolute;
  top: 58%;
  left: 25%;
}

.stats-small-logo-bw-card
{
  position: absolute;
  top: 90%;
  right: 37%;
  transform: translate(-50%, -50%);
}

#stats-small-logo-bw-card
{
  width: 70%;
}

.stats-goal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#stats-goal {
  display: inline-block;
  width: 80px; 
  height: 40px;
  background: silver; 
  font-weight:bold;
  padding-top: 2px;
  font-size: x-large;
  color: #000000;
}

/* full stats */
.full-stats-team-logo-1
{
  position: absolute;
  top: 8%;
  right: 5%;
}

.full-stats-team-logo-2
{
  position: absolute;
  top: 8%;
  left: 5%;
}

#full-stats-team-logo-1
{
  width: 80px;
}

#full-stats-team-logo-2
{
  width: 80px;
}

.full-stats-team-name-1
{
  position: absolute;
  top: 18%;
  right: 23%;
}

.full-stats-team-name-2
{
  position: absolute;
  top: 18%;
  left: 24%;
}

.full-stats-goal {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#full-stats-goal {
  display: inline-block;
  width: 100px; 
  height: 45px;
  background: silver; 
  font-weight:bold;
  font-size: 30px;
  color: #000000;
}

.full-stats-right-color-bar {
  position: absolute;
  top: 85%;
  right: 35%;
  transform: translate(-50%, -50%);
}

.full-stats-left-color-bar {
  position: absolute;
  top: 85%;
  left: 39%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1500px) {
  /* For mobile phones: */
  [class="full-stats-right-color-bar"] {
    position: absolute;
    top: 85%;
    right: 31%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  [class="full-stats-right-color-bar"] {
    position: absolute;
    top: 85%;
    right: 40%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  [class="full-stats-left-color-bar"] {
    position: absolute;
    top: 85%;
    left: 43%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  [class="full-stats-right-color-bar"] {
    position: absolute;
    top: 85%;
    right: 36%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  [class="full-stats-left-color-bar"] {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  [class="full-stats-right-color-bar"] {
    position: absolute;
    top: 85%;
    right: 30%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  [class="full-stats-left-color-bar"] {
    position: absolute;
    top: 85%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
}

#full-stats-right-color-bar {
  width: 25px;
}

#full-stats-left-color-bar {
  width: 25px;
}

.full-stats-team-text-1
{
  position: absolute;
  top: 40%;
  right: 30%;
}

.full-stats-team-text-2
{
  position: absolute;
  top: 40%;
  left: 30%;
}

.full-stats-team-text-3
{
  position: absolute;
  top: 50%;
  right: 5%;
}

.full-stats-team-text-4
{
  position: absolute;
  top: 50%;
  left: 5%;
}

#full-stats-team-text-1, #full-stats-team-text-2, #full-stats-team-text-3, #full-stats-team-text-4
{
  font-size: x-small;
}

/* for periods on screen board */
.periods-div {
  position: absolute;
  top: 13%;
  left: 15%;
}

.run-game-info-pics
{
  width: 100%;
  height: 100%;
}

 /* For full screen on screen board  */
.left-color-bar {
  position: absolute;
  top: 20%;
  left: 25%;
}

.fullscreen-clock
{
  position: absolute;
  top: 10%;
  left: 45%;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: -3px;
  font-weight: bold;
}


.right-color-bar {
  position: absolute;
  top: 20%;
  right: 20%;
}

.left-team-logo {
  position: absolute;
  top: 70%;
  left: 10%;
}


.right-team-logo {
  position: absolute;
  top: 70%;
  right: 10%;
}

.centre-team-logo {
  position: absolute;
  top: 70%;
  right: 45%;
}

.score-on-board-large {
  position: absolute;
  top: 38%;
  left: 42%;
}

 #score-on-board-large {
  font-size: 300px;
  height: 300px;
  /*font-size: x-large; */
  /* color: #F90D0D;
  border: 1px solid white; */
} 

/* #minutes
{
  font-size: 200px;
} */

/* Countdown Timer */

.countdown-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#countdown-container {
  display: inline-block;
  width: 130px; 
  height: 40px;
  border-radius: 5px; 
  background: black; 
  font-weight:bold;
  padding-top: 2px;
  font-size: x-large;
}

  /* yellow */  
  .yellow-card, .red-card, .second-yellow-card
  {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #yellow-card, #red-card, #second-yellow-card
  {
    width: 90%;
  }
  
  .yellow-card-name, .red-card-name, .second-yellow-card-name
  {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .yellow-card-text-1, .red-card-text-1, .second-yellow-card-text-1
  {
    position: absolute;
    top: 71%;
    right: 37%;
  }
  
  .yellow-card-text-2, .red-card-text-2, .second-yellow-card-text-2
  {
    position: absolute;
    top: 78%;
    right: 37%;
    color: #000000;
  }


  /* crawl */
  
  .crawl
  {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* freetext */
  .freetext
  {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* /////////////////// */

/* div styling */
.plan-body
{
  height: 180px; 
}
.div-active
{
  height: 150px;
}

.sibstitutes
{
  border: 1px solid #707070;
  line-height: 40px;
  border-radius: 3%;
}

.team-player
{
  border: 1px solid #707070;
  line-height: 35px;
  border-radius: 3%;
}

.home, .guest
{
  border: 1px solid #707070;
  border-radius: 5px;
  line-height: 25px;

}

.referee, .team-div, .player-div
{
  border: 1px solid #707070;
  line-height: 35px;
  border-radius: 3%;
}

.active-player
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 6px;
  background-color: #F90D0D;
  border: 1px solid #000000;
}

.non-active-player
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 6px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.upload-img-field
{
  width: 200px;
}

.upload-img-referee
{
  width: 250px;
}

.upload-player-pic
{
  width: 210px;
}

.upload-team-logo
{
  width: 350px;
}

.color-a
{
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  background-color: #206831;
}

.color-b
{
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  background-color: white;
}

.add-user
{
  margin-top: 10%;
}

/* Dropdown with image */

#referee-image-dropdown {
  display: inline-block;
  border: 1px solid;
}
#referee-image-dropdown {
  height: 35px;
  overflow: hidden;
}

#referee-image-dropdown .img_holder {
  cursor: pointer;
  margin-bottom: 4px;
  height: 25px;
}
#referee-image-dropdown img.flagimgs {
  height: 25px;
}
#referee-image-dropdown span.iTEXT {
  position: relative;
}

#countdown span {
  font-weight: bold;
}

  /* Media Queries */

  /* For desktop: */
  .column1 {width: 8.33%;}
  .column2 {width: 16.66%;}
  .column3 {width: 25%;}
  .column4 {width: 33.33%;}
  .column5 {width: 41.66%;}
  .column6 {width: 50%;}
  .column7 {width: 58.33%;}
  .column8 {width: 66.66%;}
  .column9 {width: 75%;}
  .column10 {width: 83.33%;}
  .column11 {width: 91.66%;}
  .column12 {width: 100%;}
  
  @media only screen and (max-width: 70px) {
    /* For mobile phones: */
    [class*="column"] {
      width: 100%;
    }
  }






  /* /////////////// Admin CSS  /////////////// */


  .user-img
  {
    width:40px;
    height:40px;
  }

  /* pagination */

  .current {
    font-weight: bold;
    }

    #pagin li {
    display: inline-block;
    border: 1px solid black;
    color: black;
    margin-top: 10px;
    padding: 5px 10px;
    }

    #pagin li a{
    color: black;
    }

    .club-logo{
      width:35px;
      height:35px;
    }

    /* crawl */
    
.crawl {
  line-height: 15px;
  opacity: 70%;
  width: 100%;
  color: white;
  background-color: silver;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.crawl p {
  display: inline-block;
  padding-left: 100%;
  animation: crawl 10s linear infinite;
  margin-top: 5px;
  font-weight: bold;
  font-size: larger;
}

@keyframes crawl {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}